# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore compiled output
/dist/
/build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore any other unnecessary files or directories
.cache/
